.Login {

    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;

    .form {

        min-width: 24rem;
        padding: 3rem 1rem;

        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);

        background: rgba(255, 255, 255, 0.05);
        border-radius: 0.5rem;
        
        
        .logo {
            text-align: center;
            img {
                width: 7.5rem;
                opacity: 0.85;
                transition: ease 0.5s;
                &:hover {
                    opacity: 1;
                }
            }
        }

        .title {
            text-align: center;
            margin: 1rem 0;
            transition: all ease 1s;
            font-size: large;
            &:hover {
                font-size: larger;
            }
        }

        .inputs {
            margin: {
                top: 3.5rem;
                bottom: 2.5rem;
            }
            text-align: center;

            .error {
                font-size: smaller;
                font-weight: 100;
                color: rgb(174, 77, 253);
                width: max-content;
            }

            .input {

                width: max-content;
                position: relative;
                display: block;
                left: 50%;
                transform: translate(-50%, 0);
                margin: 1rem 0;

                img {
                    filter: invert(1);
                    width: 1em; height: 1em;
                    position: fixed;
                    margin: 0 0.5rem;
                    top: 50%; 
                    transform: translate(0, -50%);
                    opacity: 0.75;
                }

                input {
                    width: 15rem;
                    padding: 0.5rem 2rem;
                    margin: 0 0rem;
                    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
                    appearance: none;
                    outline: none;
                    background: transparent;
                    color: rgba(77, 22, 44, 0.85);
                    border: none;
                    border-radius: 0.55rem;
                    font-family: 'Vazir';
                    transition: 0.25s ease;
                }
            }
        }

        .button {
            overflow: hidden;
            left: 50%;
            transform: translate(-50%, 0);
            border-radius: 0.5rem;
            box-shadow: 0 0 2rem rgba(0,0,0,0.15);
            width: 15rem;
            text-align: center;
            position: relative;
            display: block;
            padding: 0.5rem 0;
            background-color: rgba(255, 255, 255, 0.1);
            font-family: 'Vazir';
            font-size: medium;
            border: none;
            color: white;
            cursor: pointer;
            outline: none;
            text-transform: capitalize;
            
            transition: all ease 1s;
            &:hover {
                background-color: rgba(255, 255, 255, 0.25);
            }
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);

        span {
            cursor: pointer;
            opacity: 0.75;
            transition: 0.25s ease;
            &:hover {
                opacity: 1;
            }
        }
    }
}

