.Dashboard {
    .Account {
        height: 100%;
        position: relative;
        padding: 2rem;
        
        .gallery {
            height: 100%; width: 50%;
            background-color: red;
            border-radius: 1rem;
            overflow: hidden;
        }

        form {
            height: 100%; width: 100%;
            form {

            }
        }
    }
}