.Dashboard {
    .Account {
        height: 100%;
        position: relative;
        padding: 2rem;

        form {
            height: 100%; width: 100%;
            display: flex;

            .placePicture {
                border-radius: 1rem;
                max-width: 50%;
                overflow: hidden;
                img {
                    object-fit: contain;
                }
            }
            .inputs {
                position: relative;
                min-width: 12rem;
                width: 100%;
                input {
                    width: 10rem;
                    display: block;
                }
            }
        }
    }
}