@import '../../../../static/colors.scss';

.Dashboard {
    .Pane {
        position: absolute;
        display: flex;
        margin: 2rem;
        justify-content: center;

        .avatar {
            height: min-content;

            img {
                border-radius: 0.5rem;
                width: 2.2rem;
                box-shadow: 0 0 1rem rgba($shadow-middle, 0.5);
                //border: 1px solid rgba(119, 119, 119, 0.25);
            }
        }

        .icon {
            cursor: pointer;
            height: min-content;
            position: relative;
            display: block;
            margin: 0.5rem;
            text-shadow: 0 0 0.5rem rgba($shadow-middle, 0.5);
        }

        .places {
            display: block;
            margin: 0 0.5rem;
            width: min-content;
            overflow: hidden;
        }
    }
}

