@font-face {
    font-family: 'Vazir';
    src: url('../assets/fonts/vazir/vazir.eot');
    src: local('Vazir'),
        url('../assets/fonts/vazir/Vazir?#iefix') format('embedded-opentype'),
        url('../assets/fonts/vazir/Vazir.woff2') format('woff2'),
        url('../assets/fonts/vazir/Vazir.woff') format('woff'),
        url('../assets/fonts/vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tanha';
    src: url('../assets/fonts/tanha/Tanha.eot');
    src: local('tanha'),
        url('../assets/fonts/tanha/Tanha?#iefix') format('embedded-opentype'),
        url('../assets/fonts/tanha/Tanha.woff2') format('woff2'),
        url('../assets/fonts/tanha/Tanha.woff') format('woff'),
        url('../assets/fonts/tanha/Tanha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ink {
    display: block;
    position: absolute;
    background:rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    transform:scale(0);
  }
  
  .animate {
    animation:ripple 0.65s linear;
  }
  
  @keyframes ripple {
      100% {opacity: 0; transform: scale(2.5);}
  }