@font-face {
    font-family: 'Vazir';
    src: url('../assets/fonts/vazir/vazir.eot');
    src: local('Vazir'),
        url('../assets/fonts/vazir/Vazir?#iefix') format('embedded-opentype'),
        url('../assets/fonts/vazir/Vazir.woff2') format('woff2'),
        url('../assets/fonts/vazir/Vazir.woff') format('woff'),
        url('../assets/fonts/vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tanha';
    src: url('../assets/fonts/tanha/tanha.eot');
    src: local('tanha'),
        url('../assets/fonts/tanha/Tanha?#iefix') format('embedded-opentype'),
        url('../assets/fonts/tanha/Tanha.woff2') format('woff2'),
        url('../assets/fonts/tanha/Tanha.woff') format('woff'),
        url('../assets/fonts/tanha/Tanha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
