.Pages {
    .Home {
        display: flex;
        font-size: 1rem;
        

        .overview {
            padding: 1rem;
        }
        .sidePanel {
            padding: 1rem;
            margin-left: 1rem;
            height: max-content;
            border-top-left-radius: 1rem;
            background-color: rgba(129, 129, 129, 0.25);
        }
    }
}