@import '../../../../../static/colors.scss';

.Pages {
    .Home {
        position: relative;
        display: flex;
        height: 100%;

        font-size: 1rem;
        
        //background: rgba(255, 0, 0, 0.418);

        .content {
            padding: 1rem;
            //background: rgb(126, 99, 99);
            width: calc( 100% - 20rem );
            overflow: hidden;
            overflow-x: auto;
        }

        .sidePanel {
            overflow: visible;
            width: 20rem;
            height: 100%;
            display: block;
            position: absolute;
            background-color: rgba($accent-lead, 0.25);

            .radarContainer {
                direction: ltr;
                height: 22rem;
                width: 100%;
                position: relative;
                display: block;
                overflow: visible;
            }
        }
    }
}