.Dashboard {
    .Pages {

        position: relative;
        display: block;
        width: calc( 100% - 7.8rem );
        font-size: x-large;
        padding: 2rem 2rem;

        .header {
            position: relative;
            display: block;
            width: max-content;
            .backNav {
                svg {
                    cursor: pointer;
                }
                span {
                    text-transform: capitalize;
                    margin: 0 1rem;
                }
            }
        }

        .page {
            position: absolute;
            display: block;
            margin-top: 1.5rem;
            width: 100%;
            height: calc( 100% - 5.8rem );
            overflow: hidden;
            overflow-y: scroll;
        }
    }
}