.Dashboard {
    .Pages {

        position: relative;
        display: block;
        width: calc( 100% - 6rem ); // 100% - outerWidth of nav 6rem
        font-size: x-large;
        padding: 2rem 0rem 0rem 0rem;

        .header {
            z-index: 0; // avoid jitter
            position: relative;
            display: block;
            width: max-content;
            margin: 0 1.5rem;
            .backNav {
                svg {
                    cursor: pointer;
                }
                span {
                    text-transform: capitalize;
                    margin: 0 1rem;
                }
            }
        }

        .page {
            position: absolute;
            display: block;
            margin-top: 1.5rem;
            width: 100%;
            height: calc( 100% - 5.8rem );
            overflow: visible;
        }
    }
}