@import '../static/colors.scss';

@function grad($ang: 1turn) {
	@return linear-gradient(
        $ang, 
        rgba($accent-navy, 0.77), 
        rgba($accent-wine, 0.55)
    )
}

.App {

    position: relative;
    width: 100vw;
    height: 100vh;
    min-width: 600px;
    min-height: 320px;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background: grad(var(--ang, 0deg));
	animation: rot 50s cubic-bezier(.6, .7, .8, 1.0) infinite;
	
	@supports (-ms-user-select: none) {
		background-image: grad(0turn);
		animation-name: rot-alt;
	}
}

.darkTheme {
    color: $dark-color;
}

.lightTheme {
    color: $light-color;
}

@keyframes rot { to { --ang: 1turn } }

@keyframes rot-alt { to { background-image: grad() } }
