@function grad($ang: 1turn) {
	@return linear-gradient($ang, rgba(18, 60, 124, 0.77), rgba(77, 22, 44, 0.55))
}

.App {

    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background: grad(var(--ang, 0deg));
	animation: rot 50s cubic-bezier(.6, .7, .8, 1.0) infinite;
	
	@supports (-ms-user-select: none) {
		background-image: grad(0turn);
		animation-name: rot-alt;
	}

    color: white;
}

@keyframes rot { to { --ang: 1turn } }

@keyframes rot-alt { to { background-image: grad() } }
