@import '../../../../static/colors.scss';

.Dashboard {
    .Nav {
        position: relative;
        margin: 0.45rem;
        width: 5rem;
        height: calc( 100% - 0.9rem );
        //background: linear-gradient($accent-blue, $accent-purple 25%, $accent-pink 75%, $accent-orange);
        //background: $accent-violet;
        border-radius: 1rem;
        box-shadow: 
            0 0 1rem rgba(black, 0.05),
            inset 0.5rem 0.5rem 0.5rem rgba(white, 0.07),
            inset -0.5rem -0.5rem 0.5rem rgba(black, 0.07);
        transition: all ease 1s;
        color: white; //always light

        path {}
        svg {}

        .logo {
            position: absolute;
            top: 0.5rem;
            width: 100%;
            padding: 1rem;
            text-align: center;
            font-size: xx-small;
            font-weight: 100;
            img {
                width: 2.25rem;
            }
        }
        .icons {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            width: 100%; height: max-content;
            text-align: center;

            .icon {
                position: relative;
                margin: 1.5rem 0;
                display: block;
                left: 50%;
                transform: translate(-50%,0);
                opacity: 0.75;

                .line {
                    width: 3px;
                    height: 0;
                    background-color: rgba(white, 0.75);
                    position: absolute;
                    top: 50%; 
                    transform: translate(0, -50%);
                    display: inline;
                    transition: height ease 1s;
                }

                &-active {
                    opacity: 1;
                    .line {
                        height: 100%;
                    }
                }
            }
        }
        .signout {
            position: absolute;
            bottom: 0.25rem;
            left: 0;
            width: 100%;
            padding: 1rem;
            text-align: center;
            cursor: pointer;
        }
    }
}