.Dashboard {
    .Manage {
        height: 100%;
        position: relative;
        padding: 1rem;
        padding-bottom: 0;
        direction: ltr;

        .options {
            position: absolute;
            top: -2rem; left: 50%;
            transform: translate( -50%, 0 );
            z-index: 999;
        }

        .tableWrapper {
            display: flex;
            align-self: center;
            width: 100%;
            height: 100%;
            display: block;
            max-height: 100%;
            overflow-y: auto;
            padding: 0 1rem;
        }
    }
}