
//anchor tag
$anchor:  #ffffff;

//scrollbar
$scrollbar-track: #403f4d;
$scrollbar-thumb: #000000;

//App accent colors
$accent-violet:  #352b7d;
$accent-orange:  #ffa200;
$accent-pink:    #f35968;
$accent-teal:    #89dff0;
$accent-grey:    #d2d2e0;
$accent-lead:    #3f3e4c;

$accent-wine:    #4c152b8c;
$accent-navy:    #123d7dc4;

$accent-purple:  #8c00ff;
$accent-blue:    #008cff;

$accentTeal:     hsl(185, 70%, 50%);
$accentPurple:   hsl(285, 70%, 50%);
$accentGreen:    hsl(85, 70%, 50%);

$accent-red:   	#f65164;
$accent-purple:	#7033ff;
$accent-cyan: 	#4e7cff;

//App dark
$dark:          #000000;
$dark-text:     #e6e6e6;

//App light
$light:         #ffffff;
$light-text:    #323232;

//effects
$shadow-middle: #4d4d4d;



:export {
    accentTeal: $accentTeal;
    accentPurple: $accentPurple;
    accentGreen: $accentGreen;
}
