
//anchor tag
$anchor:  rgb(255, 255, 255);

//scrollbar
$scrollbar-track: rgb(64, 63, 77);
$scrollbar-thumb: rgb(0, 0, 0);

//App accent colors
$accent-violet:  rgb(51, 42, 124);
$accent-orange:  rgb(255, 162, 0);
$accent-pink:    rgb(242, 87, 103);
$accent-teal:    rgb(135, 222, 240);
$accent-grey:    rgb(210, 210, 224);
$accent-lead:    rgb(64, 63, 77);

$accent-wine:    rgba(77, 22, 44, 0.55);
$accent-navy:    rgba(18, 60, 124, 0.77);

$accent-purple:  rgb(140, 0, 255);
$accent-blue:    rgb(0, 140, 255);

$accentTeal:     hsl(185, 70%, 50%);
$accentPurple:   hsl(285, 70%, 50%);
$accentGreen:    hsl(85, 70%, 50%);

$accent-red:   	rgb(246, 81, 100);
$accent-purple:	rgb(112, 51, 255);
$accent-cyan: 	rgb(78, 124, 255);

//App dark
$dark:          rgb(0,0,0);
$dark-text:     rgb(230, 230, 230);

//App light
$light:         rgb(255,255,255);
$light-text:    rgb(50, 50, 50);

//effects
$shadow-middle: rgb(77, 77, 77);



:export {
    accentTeal: $accentTeal;
    accentPurple: $accentPurple;
    accentGreen: $accentGreen;
}
